<main>
    <section>
        <article class="void">
            <div class="game">
                <p class="your">Your Games Finder</p>
            </div>
        </article>
        <article class="void">
            <aside class="tags">
                <div>
                    <button class="tag"> tag1</button>
                    <button class="tag"> autre tag</button>
                    <button class="tag"> tag 2</button>
                    <button class="tag"> encore un tag</button>
                    <button class="tag"> tag3</button>
                    <button class="tag"> tag4</button>
                    <button class="tag"> toujours plus de tag</button>
                    <button class="tag"> tag1</button>
                    <button class="tag"> autre tag</button>
                    <button class="tag"> tag 2</button>
                    <button class="tag"> encore un tag</button>
                    <button class="tag"> tag3</button>
                    <button class="tag"> tag4</button>
                    <button class="tag"> toujours plus de tag</button>
                </div>
            </aside>
            <div class="games">
                <p>random</p>
            </div>

        </article>
        <article>

        </article>
    </section>
</main>

<app-fond-mouvant></app-fond-mouvant>
